doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title isr
body
    div(id='root')
        p imager square resizer  
        h3  -step1: make it square (if width &gt; heigh, crop from left and right sides proportionally)
        h3  -step2: resize if width/height &gt; 300px

        pre(class='code') 
            code(id='code')

        input(type='file', value='get value!', id='image-input')
        br
        img(id='image-output' )
        br
        input(type='button',value='show image from blob',id='blob-result')
        

    
    